body{
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 13px;
  font-family: Sans-Serif;
  background-color: #d3d3d3;
  /*background-image: url(../images/totoro.jpg);*/
  width: 750px;
  height: 600px;
}

#container {
  width: 100%;
  height: 100%;
}

#graph_container {
  width: 750px;
  padding-left : 150px;
}

#graph {
  margin: 0;
  padding-left: 0px;
  padding-right: 0;
 /* margin-left: auto;
  margin-right: auto;*/
  text-align: center;
  display: block;
  position: absolute;
}

h2 {
  margin: 0;
  padding: 5px;
  background-color: #333;
  color: #fff;
}

#actions_menu {
  width:5px;
  height:100px;
  float:left;
}

button {
  position: relative;
}
